<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" type="text/css">
    
    <title>Home</title>
</head>
<body>
    <h1>Rename</h1>

    <form method="POST" enctype="multipart/form-data">
        <div>
            <label for="folder">New name:</label>
            <input type="text" id="newName" name="newName" placeholder="New name"/>
            <input type="text" id="pomocna" name="pomocna" value="{{cestaN}}" placeholder="Do not Enther Nothing!"/>
        </div>
    
        

        <br>
        <button type="submit" name="oldFilePath" value="{{cesta}}">Rename</button>
    </form>

    <p><strong>Cesta k souboru je: </strong>{{cesta}}</p>
    
</body>
</html>